.header {
	width: 100%;
	background: lightblue;

	h1 {
		font: bold 3rem/1.5 'arial';
		color: #111;
		margin-bottom: 2rem;
	}

	ul li {
		a {
			font: bold 1rem/1.5 'arial';
			color: #333;

			&.active {
				color: red;
			}
		}
	}
}
